<configuration>
  <system.webServer>
     <staticContent>
        <!-- <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" /> -->
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
     </staticContent>
     <httpRedirect enabled="true">
        <add wildcard="api/*" destination="1.1.x/api" />
     </httpRedirect>
  </system.webServer>
</configuration>

