name: Build pull request or PR

on: 
  pull_request:  
  push:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          10.0.x

    - name: Build and test
      run: |
        dotnet build build/Tools.slnx
        dotnet build -c Release src/NodaTime-Web.slnx
        dotnet test -c Release src/NodaTime.Web.Test
